body {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#86a8e7), color-stop(#959ee3), color-stop(#a593db), color-stop(#b587cf), color-stop(#c37bbf), color-stop(#bf83cd), color-stop(#b98bdb), color-stop(#b194e8), color-stop(#80b4ff), color-stop(#3ed0ff), color-stop(#16e8ff), to(#5ffbf1));
  background-image: linear-gradient(to left top, #86a8e7, #959ee3, #a593db, #b587cf, #c37bbf, #bf83cd, #b98bdb, #b194e8, #80b4ff, #3ed0ff, #16e8ff, #5ffbf1);
}

#timeline {
  width: 90%;
  height: auto;
  margin: 15px auto;
  border: 2px solid #ffffff6b;
  border-radius: 7px;
  background: #ffffff75;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#timeline .main_menu {
  width: 22%;
  padding: 25px 3px;
  background: #f3f3f3ab;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timeline .main_menu .menu_title {
  font-size: 2rem;
  padding-bottom: 20px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timeline .main_menu .menu_title i {
  padding: 10px;
  border-radius: 50%;
  color: gray;
  background-color: #fff;
}

#timeline .main_menu .menu_title h4 {
  display: inline-block;
  font-weight: 400;
  margin-left: 15px;
  font-size: 1.4rem;
}

#timeline .main_menu .menu_title:hover i {
  color: #002897;
}

#timeline .main_menu .menu_title:hover h4 {
  font-weight: 600;
  cursor: pointer;
}

#timeline .main_menu .menu_title:first-child {
  margin-bottom: 18px;
}

#timeline .main_menu .menu_title:first-child i {
  padding: 15px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#051937), color-stop(#002057), color-stop(#002577), color-stop(#002897), to(#1725b5));
  background-image: linear-gradient(to right top, #051937, #002057, #002577, #002897, #1725b5);
  border-radius: 50%;
  color: #fff;
}

#timeline .job_result {
  width: 60%;
  background-color: #ffffff40;
  padding: 25px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#timeline .job_result h3 {
  text-align: left;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

#timeline .job_result input[type=text] {
  width: 100%;
  outline: 0;
  border: 1px solid white;
  padding: 15px 50px;
  border-radius: 20px 20px 20px 20px;
  background: #ebebeb9e;
  color: white;
  margin-bottom: 18px;
}

#timeline .job_result span.search_icon {
  position: absolute;
  left: 64px;
  top: 70px;
  color: gray;
  font-size: 2rem;
}

#timeline .job_result span.search_text {
  position: absolute;
  right: 60px;
  top: 67px;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1.4rem;
  -webkit-box-shadow: 0px 0px 6px #950a95;
          box-shadow: 0px 0px 6px #950a95;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#370537), color-stop(#540754), color-stop(#740974), color-stop(#950a95), to(#b709b7));
  background-image: linear-gradient(to right top, #370537, #540754, #740974, #950a95, #b709b7);
  margin-bottom: 18px;
}

#timeline .job_result p.result_count {
  padding: 20px 2px;
  width: 100%;
  color: #383838;
  text-align: center;
  border-radius: 20px;
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#bc87f8), color-stop(#d88fed), color-stop(#eb9be4), color-stop(#f8a8dd), to(#ffb8da));
  background-image: linear-gradient(to right top, #bc87f8, #d88fed, #eb9be4, #f8a8dd, #ffb8da);
  margin-bottom: 18px;
}

#timeline .job_result article {
  width: 100%;
  background: white;
  border-radius: 20px;
  border: 1px solid white;
  color: black;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 5px #747474;
          box-shadow: 0px 0px 5px #747474;
  margin-bottom: 18px;
}

#timeline .job_result article header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}

#timeline .job_result article header figure {
  font-size: 3rem;
  border: 1px solid purple;
  border-radius: 20px;
  padding: 1rem;
  margin: 0 1rem 0 0;
}

#timeline .job_result article .job_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
}

#timeline .job_result article .job_detail p {
  font-weight: 700;
  font-size: 1.4rem;
}

#timeline .job_result article .job_detail .tag_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

#timeline .job_result article .job_detail .tag_detail i {
  color: lightblue;
  font-size: 1.3rem;
}

#timeline .job_result article .job_detail .tag_detail span {
  color: gray;
  margin-left: 8px;
}

#timeline .job_result article .job_detail .tag_detail span span {
  margin-left: 4px;
  font-weight: 600;
  font-size: 1.2rem;
}

#timeline .job_result article .job_detail .tag_detail span:first-child {
  margin-left: 0;
}

#timeline .job_result article .job_salary {
  width: 100%;
  text-align: right;
}

#timeline .job_result article .job_salary p {
  font-size: 1.4rem;
  font-weight: 600;
}

#timeline .job_result article > p {
  font-weight: 400;
  font-size: 1.4rem;
}

#timeline .job_result article .tags {
  padding: 20px 0px;
}

#timeline .job_result article .tags span {
  padding: 10px 12px;
  background-color: #e0ade63b;
  color: purple;
  border-radius: 5px;
  margin-right: 15px;
  font-size: 1.4rem;
}

#timeline .side_bar {
  width: 18%;
  background: #ffffffbf;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 30px;
}

#timeline .side_bar .account {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 35px 0;
}

#timeline .side_bar .account select {
  outline: 0;
  border: 0;
  background: transparent;
}

#timeline .side_bar .account span {
  font-size: 1rem;
  position: absolute;
  top: 63px;
  left: 45px;
}

#timeline .side_bar h3 {
  padding: 15px 0;
  border-bottom: 1px solid black;
  width: 100%;
}

#timeline .side_bar h4 {
  font-size: 1.6rem;
  padding: 20px 0;
}

#timeline .side_bar ul {
  list-style: none;
  padding: 5px 0;
}

#timeline .side_bar ul li {
  padding: 5px 0;
  font-size: 1.3rem;
}

#timeline .side_bar ul li span {
  color: gray;
}
/*# sourceMappingURL=style.css.map */