    // Variables
    $timeline_border:#ffffff6b;
    $timeline_background: #ffffff75;
    $main_menu_backgrund:#f3f3f3ab;
    $menu_title_hover:#002897;
    $job_result_background:#ffffff40;
    $search_text_color :#950a95;
    $input_type:#ebebeb9e;
    $article_color:#747474;
    $result_count:#383838;
    $lighblue:lightblue;
    $article_tag_border:#e0ade63b;
    $sidebar_background:#ffffffbf;
    $purple:purple;
    $black:#000;
    $gray:gray;
    $white: #fff;
    // Mixins
    @mixin background {
        background-image: linear-gradient(to left top, #86a8e7, #959ee3, #a593db, #b587cf, #c37bbf, #bf83cd, #b98bdb, #b194e8, #80b4ff, #3ed0ff, #16e8ff, #5ffbf1);
    }
    
    @mixin margin_botton {
        margin-bottom: 18px;
    }
    
    @mixin result_background {
        background-image: linear-gradient(to right top, #bc87f8, #d88fed, #eb9be4, #f8a8dd, #ffb8da);
    }
    
    // Custom style
    body {
        @include background();
    }
    
    // timeline style
    #timeline {
        width: 90%;
        height: auto;
        margin: 15px auto;
        border: 2px solid $timeline_border;
        border-radius: 7px;
        background: $timeline_background;
        color: $white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: flex-start;
        //main menu style
        .main_menu {
            width: 22%;
            padding: 25px 3px;
            background: $main_menu_backgrund;
            color: $black;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            .menu_title {
                font-size: 2rem;
                padding-bottom: 20px;
                width: 70%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                i {
                    padding: 10px;
                    border-radius: 50%;
                    color: $gray;
                    background-color: $white;
                }
                h4 {
                    display: inline-block;
                    font-weight: 400;
                    margin-left: 15px;
                    font-size: 1.4rem;
                }
            }
            .menu_title:hover {
                i {
                    color: $menu_title_hover;
                }
                h4 {
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .menu_title:first-child {
                @include margin_botton();
                i {
                    padding: 15px;
                    background-image: linear-gradient(to right top, #051937, #002057, #002577, #002897, #1725b5);
                    border-radius: 50%;
                    color: $white;
                }
            }
        }
        // Job result in main menu section
        .job_result {
            width: 60%;
            background-color: $job_result_background;
            padding: 25px 50px;
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: flex-start;
            h3 {
                text-align: left;
                color: black;
                font-weight: 600;
                font-size: 1.5rem;
                @include margin_botton();
            }
            input[type=text] {
                width: 100%;
                outline: 0;
                border: 1px solid $white;
                padding: 15px 50px;
                border-radius: 20px 20px 20px 20px;
                background: $input_type;
                color: $white;
                @include margin_botton();
            }
            span.search_icon {
                position: absolute;
                left: 64px;
                top: 70px;
                color: $gray;
                font-size: 2rem;
            }
            span.search_text {
                position: absolute;
                right: 60px;
                top: 67px;
                padding: 10px 30px;
                border-radius: 20px;
                font-size: 1.4rem;
                box-shadow: 0px 0px 6px $search_text_color;
                background-image: linear-gradient(to right top, #370537, #540754, #740974, #950a95, #b709b7);
                @include margin_botton();
            }
            p.result_count {
                padding: 20px 2px;
                width: 100%;
                color: $result_count;
                text-align: center;
                border-radius: 20px;
                font-size: 1.5rem;
                @include result_background();
                @include margin_botton();
            }
            // Article Result
            article {
                width: 100%;
                background: $white;
                border-radius: 20px;
                border: 1px solid $white;
                color: $black;
                padding: 15px;
                box-shadow: 0px 0px 5px $article_color;
                @include margin_botton();
                header {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 1rem;
                    figure {
                        font-size: 3rem;
                        border: 1px solid $purple;
                        border-radius: 20px;
                        padding: 1rem;
                        margin: 0 1rem 0 0;
                    }
                }
                .job_detail {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: center;
                    align-items: flex-start;
                    width: 70%;
                    p {
                        font-weight: 700;
                        font-size: 1.4rem;
                    }
                    .tag_detail {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        width: 100%;
                        i {
                            color: $lightblue;
                            font-size: 1.3rem;
                        }
                        span {
                            color: $gray;
                            margin-left: 8px;
                            span {
                                margin-left: 4px;
                                font-weight: 600;
                                font-size: 1.2rem;
                            }
                        }
                        span:first-child {
                            margin-left: 0;
                        }
                    }
                }
                .job_salary {
                    width: 100%;
                    text-align: right;
                    p {
                        font-size: 1.4rem;
                        font-weight: 600;
                    }
                }
                >p {
                    font-weight: 400;
                    font-size: 1.4rem
                }
                .tags {
                    padding: 20px 0px;
                    span {
                        padding: 10px 12px;
                        background-color: $article_tag_border;
                        color: $purple;
                        border-radius: 5px;
                        margin-right: 15px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
        //Sidebar section
        .side_bar {
            width: 18%;
            background: $sidebar_background;
            color: $black;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0 30px;
            .account {
                font-size: 4rem;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                position: relative;
                padding: 35px 0;
                select {
                    outline: 0;
                    border: 0;
                    background: transparent;
                }
                span {
                    font-size: 1rem;
                    position: absolute;
                    top: 63px;
                    left: 45px;
                }
            }
            h3 {
                padding: 15px 0;
                border-bottom: 1px solid $black;
                width: 100%;
            }
            h4 {
                font-size: 1.6rem;
                padding: 20px 0
            }
            ul {
                list-style: none;
                padding: 5px 0;
                li {
                    padding: 5px 0;
                    font-size: 1.3rem;
                    span {
                        color: $gray;
                    }
                }
            }
        }
    }